@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Libre Baskerville", serif;
    font-family: "Merriweather", serif;
}
body {
    width: 100vw;
    height: 100vh;
}